# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Ruby Quick Test'
      'submenu': [
        { 'label': 'Run test file', 'command': 'ruby-quick-test:run-tests' }
        { 'label': 'Rerun last test', 'command': 'ruby-quick-test:re-run-last-test' }
        { 'label': 'Toggle test pane', 'command': 'ruby-quick-test:toggle' }
      ]
    ]
  }
]
