# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-text-editor':
  'cmd-ctrl-t': 'ruby-quick-test:run-tests'
  'cmd-ctrl-x': 'ruby-quick-test:toggle'
  'cmd-ctrl-e': 'ruby-quick-test:re-run-last-test'
